ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}

ul li{
   float: left;
}

ul a{
    display: block;
    padding: 0 2em;
    line-height: 2.2em;
    text-decoration: none;
    color: black;
    border: 2px solid rgb(168, 134, 0);
    border-bottom: none;
    border-radius: 10px 10px 0 0;
    background-color: #f7b600
}

/*
ul .primeiro a{
    border:none
}
*/

ul a:hover,
ul .selecionado a
{
    background-color: #f99200;
    color: white;
    border: 2px solid #ed8a00;
    border-bottom: none;    
}
